/*************** 
    COMMON UI ELEMENTS
***************/

* { font-family: Helvetica, Arial, sans-serif; }

body {
    background-color: #222;
    font-family: sans-serif;
}

.pointer{ cursor: pointer; }

/*************** 
    BODY ELEMENTS
***************/

.background-box {
    background-image: url(../img/mine.jpg);
    height: 90%;
}

.text-box { height: 10%; }

img {
    width: 50px;
    border-radius: 50%;
    margin-right: 8px;
}

.not-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 8px;
    align-self: center;
    text-align: center;
    font-size: 22px;
    color: #72cffa;
    background-color: white;
    padding-top: 14px;
}

.not-box { background-color: #74d1fc; }

.sent-msg{
    background-color: #c4f89c;
    left: 480px;
}

.msg{
    width: 320px;
    border-radius: 10px;
    margin-bottom: 8;
    position: relative;
    justify-content: space-between;
}

.receive-msg{
    background-color: rgb(209, 207, 207);
    margin-left: 4rem;
}

.time-msg{
    font-size: 11px;
    color: rgb(85, 85, 85);
    align-self: end;
    padding-right: 3px;
}

p {
    padding: 16px;
    margin-bottom: 0;
}

.active { background-color: #e9ebeb; }

.text-info{
    color: #707070;
    font-size: 12px;
}

.link{
    text-decoration: underline;
    color: rgb(78, 78, 78);
    cursor: pointer;
}